{{- $params := .Scratch.Get "params" -}}

<!-- Google Analytics -->
{{- partial "plugin/analytics.html" . -}}
<!-- End of Google Analytics -->

<!-- Default meta.html content -->
<meta name="description" content="{{ .Site.Params.description }}">
<meta property="og:type" content='{{ if eq .Section "posts" }}article{{ else }}website{{ end }}'>
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.detailedDescription }}{{ end }}">
<meta property="og:image" content="{{ .Site.Params.home.profile.avatarURL}}">
<meta property="og:locale" content="fr_FR">
<meta name="application-name" content="{{ .Site.Params.app.title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title }}">

{{- with .Site.Params.app.themeColor -}}
    <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}

<!-- Discord Widget on all webpage corner -->
<!--
<script
src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '872138069594214410',
    channel: '878301549728784404'
  })
</script>
-->