
.header-title .tw-mr-1 img {
    transform: translateY(5px);
}
.header-title span.ti-cursor {
    transform: translateY(-2.5px);
}

body {
    &[theme=dark] {
        .invert img {
            filter: invert(93.16%);
        }
    }
}

